<div class="spinner-grow" role="status" *ngIf="loader1">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow " role="status" *ngIf="loader2">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow" role="status" *ngIf="loader3">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow " role="status" *ngIf="loader4">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow" role="status" *ngIf="loader5">
  <span class="visually-hidden">Loading...</span>
</div>
