$accent-color: #2fcba4;
$accent-color-box-shadow: rgba(47, 203, 164, 0.37);
$accent-color-dark: #23977a;
$main-color: #777777;
$black: #333333;
$dark-gray: #7b7b7b;
$light-gray2: #9999;
$light-gray: #ebebeb;
$gray: #d7d7d7;
$white: #fafafa;
