@import '/src/app/shared/style-varibale.scss';

.custom-input-group {
  .custom-form-control {
    border-right: none !important;
  }
  .custom-input-group-append {
    .related-input-focus {
      background-color: white !important;
      border-color: $accent-color !important;
      transition: 0.5s;
    }
    .related-input-error {
      border-color: red !important;
      transition: 0.5s;
    }
    .custom-input-group-text {
      border-radius: 0 !important;
      background-color: #fafafa;
      color: $dark-gray;;

      &:hover {
        cursor: pointer;
        color: $accent-color !important;
        transition: 0.5s;
      }
    }
  }
}
