<ng-container *ngIf="control && controlName && label && formGroup">
  <div [formGroup]="formGroup">
    <label class="form-label custom-form-label" [for]="controlName">
      <span>
        {{label}}
      </span>
      <div *ngIf=" control?.invalid && (control?.dirty || control?.touched)" class="form-text text-danger">
        <div *ngIf="control?.errors?.['required']">
          {{'MyAccount.PassowrdForm.Required' | translate}}
        </div>
        <div *ngIf="control.errors?.['confirmedValidator']">
          {{'MyAccount.PassowrdForm.Mismatch' | translate}}
        </div>
      </div>
    </label>
    <div *ngIf="control?.invalid && (control?.dirty || control?.touched)" class="form-text text-danger">
      <div *ngIf="control?.errors?.['pattern']">
        {{'MyAccount.PassowrdForm.Pattern' | translate}}
      </div>
    </div>
    <div class="input-group custom-input-group">
      <input [id]="controlName" [type]="show ? 'text': 'password'" [formControlName]="controlName"
        [ngClass]="{'input-invalid': control.invalid && (control.dirty || control.touched)}"
        class="form-control custom-form-control" (focus)="IsFocused(true)" (blur)="IsFocused(false)"/>
      <div class="input-group-append custom-input-group-append " (click)="ShowPassword()">
        <span class="input-group-text custom-input-group-text"
          [ngClass]="{'related-input-focus': isFocused, 'related-input-error': !isFocused && control.invalid && (control.dirty || control.touched)}">
          <fa-icon [icon]="['fas', show ? 'eye-slash' : 'eye']"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</ng-container>
